@model  Author
@{
    ViewData["Title"] = "CreateAuthor";
}
<h1>CreateAuthor</h1>


<div class="container-fluid">
    <div class="row">
        <form method="post">
            <input asp-for="Name" type="text"/> <button type="submit">Submit</button>

        </form>
    </div>
</div>


